<%- include('../templates/header'); -%>
<div class="mainBody">
    <div class="pagecontainer">
        <div class="loginSec">
            <div class="loginSec__heading">
                LOGIN
            </div>
            <div class="loginSec__field">
                <div class="loginSec__field__input">
                    <input type="text" name="loginUserName" placeholder="username"/>
                </div>
                <div class="loginSec__field__input">
                    <input type="text" name="loginUserName" placeholder="password"/>
                </div>
                <div class="loginSec__field__input">
                    <button class="loginSubmitBtn">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../templates/footer'); -%>